# Tutorial 3: making a project, configuring pype  

This is an introduction to _phenopype's_ landmark editor, which was designed for rapid processing of large image collections. The images used for this tutorial contain stained threespine stickleback that were photographed with a 100 mm macro lens mounted on a Canon 750D. The fish were imersed in Glycerol in a white resin tray placed underneath a camera stand. 

***
* [Setting up the project](#project)
* [Providing a scale](#scale)
* [Placing landmarks](#landmarks)
* [Measure specimen length](#length)

## Set up project<a name="project"></a>

First we load the program and initate a project object where we indicate the images that contain the specimens that we want to landmark - in this case images of stickleback (using the `include` argument).

In [1]:
import os
import phenopype as pp

## for this tutorial, you should be in the "tutorial directory of phenopype-master"
#os.getcwd()
#os.chdir("tutorials")

my_proj = pp.project_maker(image_dir = "images", include=["stickle"], name="landmarks")

----------------------------------------------------------------
Project settings
================

Project name: landmarks
Image directory: images
Search mode: dir
Filetypes: []
Include:['stickle']
Exclude: []
----------------------------------------------------------------
Search returned following files:
['stickle1.jpg', 'stickle2.jpg', 'stickle3.jpg']

## Provide a scale <a name="scale"></a>

As shown in [Tutorial 1](Tutorial_1.ipynb#scale), we need to tell phenopype the pixel to mm ratio to give the landmarks a frame of reference. Again we load the image into the `scale_maker`, `zoom` into the scale area for better visibility, and mark the distance we specifiy - in this case 10 mm. Make sure to mark the whole scale, if you want to it to be detected in the following images.

In [2]:
image1 = my_proj.filepaths[0]
scale = pp.scale_maker(image=image1, value=10, zoom=True, show=True)

Mark the outline of the scale by left clicking, remove points by right clicking, finish with enter.
Finished, scale outline drawn. Now add the scale by clicking on two points with a known distance between them:
Adding point 1 of 2 to scale
Adding point 2 of 2 to scale


------------------------------------------------
Finished - your scale has 437 pixel per 10 mm.
------------------------------------------------

<img src="../assets/tutorials/scale1.png" width="50%">

## Placing landmarks <a name="landmarks"></a>

Just as in the `polygon_maker` and `object_finder` classes, the `landmark_maker` class sets up the landmarking procuedure, and the inherited function `set_landmarks` does the actual landmarking. It returns a `pandas` dataframe, which can be stored as csv. You can zoom in and out during the landmarking procedure with the mousewheel.

In [5]:
lm = pp.landmark_maker(image=image1)
results = lm.set_landmarks(scale=scale.current)
results

Add landmarks by left clicking, remove by right clicking, finish with enter.
Point #1 with position (x=1139,y=433) added
Point #2 with position (x=1238,y=466) added
Point #3 with position (x=1253,y=558) added
Point #4 with position (x=1275,y=597) added

       filename  id  idx     x    y  scale
1  stickle1.jpg  NA    1  1139  433   43.7
2  stickle1.jpg  NA    2  1238  466   43.7
3  stickle1.jpg  NA    3  1253  558   43.7
4  stickle1.jpg  NA    4  1275  597   43.7

Depending on your preferences and the given image you can customize the landmarking procedure, e.g. with differently coloured points, bigger points or labels, or greater zoom. Consult `help()` for details

In [ ]:
lm = pp.landmark_maker(image=image1)
results = lm.set_landmarks(point_col=pp.green, point_size=5, label_size=2, zoom_factor=10, scale=scale.current)

In [ ]:
help(lm)

To enter a sample number or the specimen ID you can specify either a custom ID string (anything other than the filename, because that will be stored anyways), or use the special flag `"query"`, which will prompt a user entry. If you use `"query"`, you *have* to enter something before continuing with the next sample, or terminate using `Esc`. The entered ID will show in the upper right corner, and will be passed on to the output dataframe.

In [7]:
results = lm.set_landmarks(ID="my custom ID", scale=scale.current)
results

Add landmarks by left clicking, remove by right clicking, finish with enter.
Point #1 with position (x=1241,y=375) added
Point #2 with position (x=1778,y=562) added
Point #3 with position (x=1814,y=613) added

       filename            id  idx     x    y  scale
1  stickle1.jpg  my custom ID    1  1241  375   43.7
2  stickle1.jpg  my custom ID    2  1778  562   43.7
3  stickle1.jpg  my custom ID    3  1814  613   43.7

In [9]:
lm.set_landmarks(ID="query", scale=scale.current)

Add landmarks by left clicking, remove by right clicking, finish with enter.
Point #1 with position (x=857,y=491) added
Point #2 with position (x=1010,y=433) added
Point #3 with position (x=1029,y=510) added

       filename      id  idx     x    y  scale
1  stickle1.jpg  142501    1   857  491   43.7
2  stickle1.jpg  142501    2  1010  433   43.7
3  stickle1.jpg  142501    3  1029  510   43.7

## Measure specimen length <a name="landmarks"></a>

To measure specimen length you can add the parameter `draw_line=True`, which will prompt a second interaction after the landmarking step. To be useful for "curved" species, use as many knots for the line as needed and *phenopype* will automotically calculate the length of a curved arc, and add it to the results.

In [16]:
lm = pp.landmark_maker(image=my_proj.filepaths[2])
results = lm.set_landmarks(draw_line=True, scale=scale.current)
results

Add landmarks by left clicking, remove by right clicking, finish with enter.
Point #1 with position (x=980,y=529) added
Point #2 with position (x=1135,y=463) added
Point #3 with position (x=1380,y=529) added

Add line-points by left clicking, remove by right clicking, finish with enter.
Point #1 with position (x=970,y=565) added
Point #2 with position (x=1672,y=419) added
Point #3 with position (x=2142,y=372) added

       filename  id  idx     x    y  scale  arc_length
1  stickle3.jpg  NA    1   980  529   43.7        1189
2  stickle3.jpg  NA    2  1135  463   43.7        1189
3  stickle3.jpg  NA    3  1380  529   43.7        1189

END - more tutorials to come! If you have questions in the meantime, email me.